<!DOCTYPE html>
<html lang="en">

<head>
  <title>Apartment Reviews</title>
  {{>headerIndex}}
  {{>navindex}}

  <script src="/js/loadReviews.js"></script>

  <!-- END nav -->
  <div class="hero-wrap" style="background-image: url('/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          <div class="text">
            <h1 class="mb-4 bread">apartment Reviews</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Wrapper -->
  <div class="container">
    <div id="content-wrapper" class="d-flex flex-column">
      <div class="row flex-lg-nowrap mt-4"></div>
      <div class="col">
        <div class="row">
          <div class="col mb-3 mt-4">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                      <div class="mx-auto" style="width: 140px;">
                        <div class="d-flex justify-content-center align-items-center rounded"
                          style="height: 140px; background-color: rgb(233, 236, 239);">
                          <img src="/index/{{apartment.id}}/images" class="apartment-preview-image">
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{apartment.name}}</h4>
                      </div>
                      <div class="text-center text-sm-right">
                        <span class="badge badge-secondary">Managed by: {{apartment.manager.name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a href="/apartmentInformation/{{id}}">
                <button id="backButton" class="btn btn-primary mb-2 ml-2">Apartment's main page</button>
              </a>
            </div>
          </div>
        </div>
        <div id="reviews" class="review-section">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="m-0">Total reviews: {{totalReviews}}</h4>
            <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2"
              style="width: 188px;">
              <span class="selection">
                <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                  aria-expanded="false" tabindex="0" aria-labelledby="select2-qd66-container">
                </span>
              </span>
              <span class="dropdown-wrapper" aria-hidden="true"></span>
            </span>
          </div>

          <div class="col-md-6">
            <table class="stars-counters">
              <tbody>
                <tr class>
                  <td>
                    <span>
                      <button
                        class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">
                        5 stars
                      </button>
                    </span>
                  </td>
                  <td class="progress-bar-container">
                    <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                      <div class="fit-progressbar-background">
                        <span class="progress-fill" style="width: {{percentageReview5}}%;"></span>
                      </div>
                    </div>
                  </td>
                  <td class="star-num">{{numreviews5}}</td>
                </tr>
                <tr>
                  <td>
                    <span>
                      <button
                        class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">
                        4 Stars</button>
                    </span>
                  </td>
                  <td class="progress-bar-container">
                    <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                      <div class="fit-progressbar-background">
                        <span class="progress-fill" style="width: {{percentageReview4}}%;"></span>
                      </div>
                    </div>
                  </td>
                  <td class="star-num">{{numreviews4}}</td>
                </tr>
                <tr>
                  <td>
                    <span>
                      <button
                        class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">
                        3 Stars</button>
                    </span>
                  </td>
                  <td class="progress-bar-container">
                    <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                      <div class="fit-progressbar-background">
                        <span class="progress-fill" style="width: {{percentageReview3}}%;"></span>
                      </div>
                    </div>
                  </td>
                  <td class="star-num">{{numreviews3}}</td>
                </tr>
                <tr>
                  <td>
                    <span>
                      <button
                        class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">
                        2 Stars</button>
                    </span>
                  </td>
                  <td class="progress-bar-container">
                    <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                      <div class="fit-progressbar-background">
                        <span class="progress-fill" style="width: {{percentageReview2}}%;"></span>
                      </div>
                    </div>
                  </td>
                  <td class="star-num">{{numreviews2}}</td>
                </tr>
                <tr>
                  <td>
                    <span>
                      <button
                        class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">
                        1 Star</button>
                    </span>
                  </td>
                  <td class="progress-bar-container">
                    <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                      <div class="fit-progressbar-background">
                        <span class="progress-fill" style="width: {{percentageReview1}}%;"></span>
                      </div>
                    </div>
                  </td>
                  <td class="star-num">{{numreviews1}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Review form for the user -->
         {{#isUser}}
        <div class="form-content">
          <h2>Leave your review!</h2>
          <div>
            <form action="/postApartmentReviews/{{apartment.id}}" class="bg-white p-5 contact-form" method="post">

              <div class="form-group">
                <label for="rating">Rating</label>

                <div class="rating">
                  <!-- 5 stars -->
                  <input type="radio" id="5stars" name="rating" value="5">
                  <label for="5stars">
                    <p class="rate">
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                      </span>
                    </p>
                  </label><br>

                  <!-- 4 stars -->
                  <input type="radio" id="4stars" name="rating" value="4">

                  <label for="4stars">
                    <p class="rate">
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                      </span>
                    </p>
                  </label><br>

                  <!-- 3 stars -->
                  <input type="radio" id="3stars" name="rating" value="3">
                  <label for="3stars">
                    <p class="rate">
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                      </span>
                    </p>
                  </label><br>

                  <!-- 2 stars -->
                  <input type="radio" id="2stars" name="rating" value="2">
                  <label for="2stars">
                    <p class="rate">
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                      </span>
                    </p>
                  </label><br>

                  <!-- 1 star -->
                  <input type="radio" id="1star" name="rating" value="1">
                  <label for="1star">
                    <p class="rate">
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-star" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                        </svg>
                      </span>
                    </p>
                  </label><br>

                </div>

              </div>

              <div class="form-group">
                <label for="comment">Comment (optional)</label>
                <textarea name="comment" cols="30" rows="7" class="form-control"
                  placeholder="Everything was so nice, a wonderful experience!"></textarea>
              </div>

              <input type="submit" value="Send review!" id="sendButton" class="btn btn-primary py-3 px-5">
              <input type="hidden" name="_csrf" value="{{token}}" />
            </form>

          </div>



        </div>
        {{/isUser}}
      </div>
      <!-- List of all the reviews -->
      <div class="review-list">
        <ul id="reviewList">

          {{>apartmentReviewTemplate}}

          {{^apartmentReviews}}
          <h2>No reviews for this apartment so far</h2>
          {{/apartmentReviews}}
        </ul>
      </div>

      <div style="display: flex; justify-content: center; align-items: center; margin: 15px;">
        <button onclick="loadMoreReviews({{apartment.id}})" class="btn btn-secondary py-3 px-5">More reviews</button>
      </div>


      {{>footerIndex}}
    </div>
  </div>
  </div>

  <!-- General scripts -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
  <script type="/text/javascript"></script>

</html>