
<!-- Custom styles sidebar-->
<link href="css/all.css" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">   
<link href="css/sb-admin-2.css" rel="stylesheet">

<!-- Custom styles-->
<link rel='stylesheet' href="css/clientListManagerStyles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css'>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js'></script>

<!-- Custom fonts-->
<link
href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
rel="stylesheet">


<!--COPIA ESTO JUSTO DEBAJO DEL BODY, Y CIERRA EL DIV DEL WRAPPER JUSTO ANTES QUE EL BODY (TENDRAS QUE CAMBIARLO). EL WRAPPER ABARCA HASTA EL FIN DEL BODY-->
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- User-->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/profile">
            <div class="sidebar-brand-text mx-3">User Profile</div>
        </a>

        <!-- Manager-->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/profile">
            <div class="sidebar-brand-text mx-3">Manager Profile</div>
        </a>

        <!-- Admin-->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/profile">
            <div class="sidebar-brand-text mx-3">Admin Profile</div>
        </a>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Personal Area
        </div>

        <!-- For all users -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/profile">
                <i class="fas fa-fw fa-cog"></i>
                <span>Personal Data</span>
            </a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Administration
        </div>
        <!--Cliente-->
        <li class="nav-item">
            <a class="nav-link" href="/templates/clientReservation.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>My bookings</span></a>
        </li>
            
        <!--Managers-->
        <li class="nav-item">
            <a class="nav-link" href="/templates/viewApartmentsManager.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>My apartments</span></a>
        </li>
        <!--Admin-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCharts"
                    aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Apartment management</span>
            </a>
            <div id="collapseCharts" class="collapse" aria-labelledby="headingCharts"
                    data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/templates/managerList.html">Managers list</a>
                    <a class="collapse-item" href="/templates/apartmentValidation.html">Validate new apartments</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
            
        <div class="sidebar-heading">
            Statistics
        </div>
            
        <!-- Nav Item - Pages Collapse Menu -->
        <!--Admin-->
        <li class="nav-item">
            <a class="nav-link" href="/templates/chartsAdmin.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Admin Charts</span>
            </a>
        </li>
        <!--Manager-->
        <li class="nav-item">
            <a class="nav-link" href="/templates/chartsManager.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Apartment Charts</span>
            </a>
        </li>
        
         <!-- Divider -->
         <hr class="sidebar-divider">

         <div class="sidebar-heading">
             Main page
           </div>
 
         <li class="nav-item">
             <a class="nav-link" href="/">
                 <i class="fas fa-fw fa-chart-area"></i>
                 <span>Return to main page</span>
             </a>
         </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
            
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    <!-- End of Sidebar -->
    </ul>
</div>


<!--COPIA ESTO JUSTO DEBAJO DEL BODY.PUEDE QUE TENGAS QUE CAMBIAR EL DIRECTORIO.PUEDE QUE NO HAYA QUE PONERLO, PERO POR SI ACASO-->

<!-- Bootstrap core JavaScript-->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.bundle.js"></script>

<!-- Core plugin JavaScript-->
<script src="js/jquery.easing.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.js"></script>