<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/js/loadApartments.js"></script> 
  <link href="/css/index.css" rel="stylesheet">
  <title>Index</title>
  {{>headerindex}}
  {{>navindex}}
 
  <!-- END nav -->
  <div class="hero-wrap" style="background-image: url('/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          <div class="text">
            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home</a></span></p>
            <h1 class="mb-4 bread">Our Stories</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section">
    <div class="container">
      <div class="row d-flex" id="apartmentsList">
        
        {{>apartmentTemplate}}
      </div>
      <div class="mt-5">
        <a onclick='loadMoreApartments()' class="btn btn-secondary rounded" id="moreApartments">More apartments</a>
      </div>
  </section>
  {{>footerIndex}}


