<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/js/loadApartments.js"></script> 
  <link href="/css/index.css" rel="stylesheet">
  <title>Index</title>
  {{>headerindex}}

  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">dream<span>Life</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <ul class="navbar-nav ml-auto">
        <!--Search bar-->
        <div class="collapse navbar-collapse" id="ftco-nav">
          <div class="sidebar-box mt-3">
            <form method="get" action="/indexsearch" class="search-form">
              <div class="form-group">
                <input type="search" class="form-control" placeholder="Type..." name="searchValue">
                <button class="icon ion-ios-search" type="submit">
                  <input type="hidden" name="_csrf" value="{{token}}" />
              </div>
            </form>
          </div>
        </div>
        <li class="nav-item active"><a href="/" class="nav-link font-size-20">Home</a></li>
        {{^isUser}}
        <li class="nav-item"><a href="/login" class="nav-link font-size-20">Log In</a></li>
        {{/isUser}}
        {{#isUser}}
        <li class="nav-item"><a href="/profile" class="nav-link font-size-15">Profile</a></li>
        {{/isUser}}
      </ul>
    </div>
  </nav>
  <!-- END nav -->
  <div class="hero-wrap" style="background-image: url('/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          <div class="text">
            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home</a></span></p>
            <h1 class="mb-4 bread">Our Stories</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section">
    <div class="container">
      <div class="row d-flex" id="apartmentsList">
        
        {{>apartmentTemplate}}
      </div>
      <div class="mt-5">
        <a onclick='loadMoreApartments()' class="btn btn-secondary rounded" id="moreApartments">Más apartamentos</a>
      </div>
  </section>
  {{>footerIndex}}


