{{#reservations}}
<tr>
  <td class="text-nowrap align-middle">{{hotel.name}}</td>
  <td class="text-nowrap align-middle"><span>{{checkIn}}</span></td>
  <td class="text-nowrap align-middle"><span>{{checkOut}}</span></td>
  <td class="text-nowrap align-middle">{{numPeople}}</td>
  <td class="text-center align-middle">
    <div class="btn-group align-top">
      <a href="reservationInfo/{{id}}" class="btn btn-sm btn-outline-secondary badge"
        type="button">More info</a>
  </td>
</tr>
{{/reservations}}