
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div id="wrapper">
   
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- User-->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/profile">
            <div class="sidebar-brand-text mx-3">{{userType}} Profile</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Personal Area
        </div>

        <!-- For all users -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/profile">
                <i class="fas fa-fw fa-cog"></i>
                <span>Personal Data</span>
            </a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Administration
        </div>
        <!--Cliente-->
        {{#isClient}}
        <li class="nav-item">
            <a class="nav-link" href="/clientReservations">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>My reservations</span></a>
        </li>
        {{/isClient}}
        <!--Managers-->
        {{#isManager}}
        <li class="nav-item">
            <a class="nav-link" href="/viewApartmentsManager">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>My apartments</span></a>
        </li>
        {{/isManager}}
        <!--Admin-->
        {{#isAdmin}}
        <li class="nav-item">
            <a class="nav-link" href="/managerValidation">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Validate new managers</span></a>
        </li>

        <!--Admin-->
        {{/isAdmin}}

        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Main page
        </div>

        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Return to main page</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
        <!-- End of Sidebar -->
    </ul>